@import url('https://fonts.googleapis.com/css?family=Ibarra+Real+Nova&display=swap');

$gray-10: hsl(0, 0, 10%);
$gray-20: hsl(0, 0, 20%);
$gray-40: hsl(0, 0, 40%);
$gray-60: hsl(0, 0, 60%);
$gray-80: hsl(0, 0, 80%);
$white: hsl(50, 0, 100%);
$blue: hsl(210, 70%, 40%);
$red: hsl(5, 95%, 70%);
$body-fonts: 'Ibarra Real Nova', serif;
$header-fonts: 'Ibarra Real Nova', serif;
    
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: $white;
  color: $gray-20;
  font-family: $body-fonts;
  font-size: 21px;
  margin: 0;
  padding: 0;
  text-rendering: optimizelegibility;

  @media (prefers-color-scheme: dark) {
    background-color: $gray-10;
    color: $gray-80;
  }
}

a {
  color: $blue;

  @media (prefers-color-scheme: dark) {
    color: $red;
  }

  &:hover {
    color: lighten($blue, 15%);

    @media (prefers-color-scheme: dark) {
      color: lighten($red, 15%);
    }
  }
}

header {
  font-family: $header-fonts;
  margin: 1em auto 3em;
  max-width: 740px;

  a {
    color: $gray-60;
    margin-left: 21px;
    margin-right: 21px;
    text-decoration: none;

    @media (prefers-color-scheme: dark) {
      color: $gray-40;
    }

    &:hover {
      color: lighten($gray-60, 15%);
      text-decoration: underline;

      @media (prefers-color-scheme: dark) {
        color: lighten($gray-40, 15%);
      }
    }
  }
}

main {
  margin: 0 auto 4em;
  max-width: 740px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-fonts;
  margin-left: 21px;
  margin-right: 21px;
}

h1 {
  font-size: 3em;
  line-height: 1em;
  margin-bottom: .25em;
}

h2 {
  font-size: 1.75em;
  margin-bottom: .5em;
  margin-top: 1em;
}

p {
  line-height: 1.5em;
  margin-bottom: 0;
  margin-left: 21px;
  margin-right: 21px;
  overflow-wrap: break-word;
}

iframe {
  margin: 1em 21px;
}

ul {
  line-height: 1.5em;
}
